<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Workout Tracker</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="~/" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a asp-page="/Routines/Index">App</a></li>
                <partial name="_LoginPartial" />
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a asp-page="/Routines/Index">App</a></li><li><a href="#">Navbar Link</a></li>
                <partial name="_LoginPartial" />
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="footer-copyright">
            <div class="container">
                Made by <a href="https://www.desmond.app">Desmond Chin</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        (function ($) {
            $(function () {

                $('.sidenav').sidenav();

            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
